extends layout

block content
  h1.text-center formulario para estudio simultaneo en dos carreras
  form(method="POST", action='estudio_simultaneo')
    row
      .col-md-6.col-xs-6
        row
          .col-md-3.col-xs-3.text-right
            label(for='nombre') nombre:
          .col-md-9.col-xs-9.text-left
            input#nombre(type='text', name='nombre', required)
        row
          .col-md-3.col-xs-3.text-right
            label(for='carrera') carrera:
          .col-md-9.col-xs-9
            select#carrera( name='carrera', required)
              for dato,index in carreras
                option(value=dato)= dato
        row
          .col-md-12.col-xs-12.text-right
        row
          .col-md-3.col-xs-3.text-right
            b sexo:
          .col-md-9.col-xs-9.text-left
            label(for="sexom") masculino
            input(type="radio", name="sexo", value="1", required, id="sexom")
            label(for="sexof") femenino
            input(type="radio", name="sexo", value="0", required, id="sexof")
        
      .col-md-6.col-xs-6
        row
          .col-md-3.col-xs-3.text-right
            label(for='ci') ci:
          .col-md-9.col-xs-9
            input#ci(type='text', name='ci')
        row
          .col-md-3.col-xs-3.text-right
            label(for='pasaporte') pasaporte:
          .col-md-9.col-xs-9
            input#pasaporte(type='text', name='pasaporte')
        row
          .col-md-3.col-xs-3.text-right
            label(for='acarrera') carrera par.:
          .col-md-9.col-xs-9
            select#carrera( name='acarrera', required)
              for dato,index in carreras
                option(value=dato)= dato

        
    row
      .col-md-12.col-xs-12.text-right
    row
      .col-md-3.col-xs-3.text-right 
        br
        input(type='hidden', name='serial', value= user.serial)
        input(type='submit', name='enviar', value='enviar')
