
extends layout

block content
  h1.text-center Formulario de traspaso de otra universidad del pais datos insuficientes
  form(method="POST", action='traspaso_de_otra_universidad_del_pais')
    row
      .col-md-6.col-xs-6
        row
          .col-md-3.col-xs-3.text-right
            label(for='nombre') nombre:
          .col-md-9.col-xs-9.text-left
            input#nombre(type='text', name='nombre', required)
        row(style="width:100%")
          .col-md-3.col-xs-3.text-right
            label(for='carrera') de la carrera:
          .col-md-9.col-xs-9
            input#carrera(type='text', name='carrera', required)
        row
          .col-md-12.col-xs-12
          
        row
          .col-md-3.col-xs-3.text-right
            label(for='ci') ci:
          .col-md-9.col-xs-9
            input#ci(type='text', name='ci')
        row
          .col-md-3.col-xs-3.text-right
            label(for='pasaporte') pasaporte:
          .col-md-9.col-xs-9
            input#pasaporte(type='text', name='pasaporte')
        row
          .col-md-3.col-xs-3.text-right
            label(for='universidad') universidad:
          .col-md-9.col-xs-9
            input#universidad(type='text', name='universidad', required)
        row
          .col-md-3.col-xs-3.text-right
            label(for='acarrera') a la carrera:
          .col-md-9.col-xs-9
            select#acarrera( name='acarrera', required)
              for dato,index in carreras
                option(value=dato)= dato
      .col-md-6.col-xs-6
        row
          .col-md-3.col-xs-3.text-right
            label(for='ciudado') ciudad origen:
          .col-md-9.col-xs-9
            input#ciudado(type='text', name='ciudado', required)
        row
          .col-md-3.col-xs-3.text-right
            b estudiante:
          .col-md-9.col-xs-9.text-left
            label(for="antiguo") antiguo
            input(type="radio", name="estudiante", value="antiguo", required, id="antiguo")
            label(for="nuevo") nuevo
            input(type="radio", name="estudiante", value="nuevo", required, id="nuevo")
        row
          .col-md-3.col-xs-3.text-right
            b sexo:
          .col-md-9.col-xs-9.text-left
            label(for="sexom") masculino
            input(type="radio", name="sexo", value="1", required, id="sexom")
            label(for="sexof") femenino
            input(type="radio", name="sexo", value="0", required, id="sexof")
        row
          .col-md-3.col-xs-3.text-right
            label(for='materiasa') materias apr.:
          .col-md-9.col-xs-9
            input#materiasa(type='number', name='materiasa', required)
        row
          .col-md-12.col-xs-12.text-right
        row
          .col-md-3.col-xs-3.text-right
            label(for='materiasr') materias rep.:
          .col-md-9.col-xs-9
            input#materiasr(type='number', name='materiasr', required)
    row
      .col-md-12.col-xs-12.text-right
    row
      .col-md-3.col-xs-3.text-right 
        br
        input(type='hidden', name='serial', value= user.serial)
        input(type='submit', name='enviar', value='enviar')
