-
  var carreras =
  [ 
  "LIC. EN ING. AGR TROP MAN R. REN", 
  "LIC. EN INGENIERIA AGRICOLA",
  "LIC. EN INGENIERIA FITOTECNISTA",
  "LIC. EN INGENIERIA FORESTAL(NUE)",
  "LIC. INGENIERO AGRONOMO ZOOTECNISTA",
  "LICENCIATURA EN ING. AGROINDUSTRIAL",
  "LICENCIATURA EN INGENIERIA AGRONOMICA",
  "PRG DESC. DE LIC. EN ING. DEL MEDIO AMB.",
  "PROGRAMA COMPLEMENTACION ING. FORESTA",
  "PROGRAMA LIC. EN INGENIERIA FORESTAL",
  "PROGRAMA TECNICO SUPERIOR AGROINDUSTRIAL",
  "TEC. SUPERIOR EN MECANIZACION AGRICOLA",
  "TEC. UNIV. SUP. GES. TERR. DES. END. SUS",
  "TECNICO SUPERIOR FORESTAL",
  "LICENCIATURA EN BIOQUIMICA Y FARMACIA",
  "LIC. EN ADMINISTRACION DE EMPRESAS",
  "LICENCIATURA EN CONTADURIA PUBLICA",
  "LICENCIATURA EN ECONOMIA",
  "PROGRAMA DE LIC. EN INGENIERA COMERCIAL",
  "PROGRAMA DE LIC. EN INGENIERA FINANCIERA",
  "LIC. EN PROD. AGRARIA Y DES. TERRITORIAL",
  "PROG. COM. LIC. DESARR. RURAL SOSTENIBLE",
  "TECNICO SUPERIOR EN AGRONOMIA",
  "LIC. EN ODONTOLOGIA (PLAN NUEVO)",
  "LIC. EN FISIOTERAPIA Y KINESIOLOGIA",
  "LICENCIATURA EN ENFERMERIA",
  "LICENCIATURA EN MEDICINA",
  "LICENCIATURA EN NUTRICION Y DIETETICA",
  "PROG DE COMPL EN LIC FISIOTERAPIA Y KINE",
  "PROGRAMA DE TEC. SUP. EN FISIOTERAPIA",
  "PROGRAMA DE TEC. SUPERIOR EN NUTRICION",
  "LIC. EN DIS. INTERIORES Y DEL MOBILIARIO",
  "LIC. EN DISEÑO GRAF Y COMUNIC VISUAL",
  "LIC. EN PLANIF. DEL TERR. Y MED. AMB",
  "LICENCIATURA EN ARQUITECTURA",
  "LICENCIATURA EN TURISMO",
  "TEC. SUPERIOR EN DISENO DE INTERIORES",
  "TECNICO UNIV. SUPERIOR EN CONSTRUCCIONES",
  "LIC. EN LINGUIS. APLIC.ENSEÑANZA LENGUAS",
  "LICENCIATURA EN CIENCIAS DE LA EDUCACION",
  "LICENCIATURA EN COMUNICACION SOCIAL(NUE)",
  "LICENCIATURA EN PSICOLOGIA (NUE)",
  "LICENCIATURA EN TRABAJO SOCIAL",
  "PROG. LIC. EN PEDAGOGIA SOCIAL PRODUCTI",
  "PROG. LIC. EN CS. ACT. FISICA Y DEPORTE",
  "PROG. LIC. ESP. EN CIEN. SOC. E INTERCUL",
  "PROG. LIC. ESP. EN LENG. ORIG. Y COMUNIC",
  "PROGRAMA DE LICENCIATURA EN MUSICA",
  "PROGRAMA DE TEC. MED. FORTAL. LIDERAZGO",
  "PROGRAMA LIC. ESP. ED. INTERCUL.BILINGUE",
  "LICENCIATURA EN CIENCIAS JURIDICAS",
  "LICENCIATURA EN CIENCIAS POLITICAS (NUE)",
  "LICENCIATURA DIDACTICA MATEMATICA",
  "LICENCIATURA EN BIOLOGIA",
  "LICENCIATURA EN DIDACTICA DE LA FISICA",
  "LICENCIATURA EN FISICA",
  "LICENCIATURA EN ING. ELECTROMECANICA",
  "LICENCIATURA EN INGENIERIA CIVIL (NUEVO)",
  "LICENCIATURA EN INGENIERIA DE ALIMENTOS",
  "LICENCIATURA EN INGENIERIA DE SISTEMAS",
  "LICENCIATURA EN INGENIERIA ELECTRICA",
  "LICENCIATURA EN INGENIERIA ELECTRONICA",
  "LICENCIATURA EN INGENIERIA INDUSTRIAL",
  "LICENCIATURA EN INGENIERIA INFORMATICA",
  "LICENCIATURA EN INGENIERIA MATEMATICA",
  "LICENCIATURA EN INGENIERIA MECANICA",
  "LICENCIATURA EN INGENIERIA QUIMICA",
  "LICENCIATURA EN MATEMATICAS",
  "LICENCIATURA EN QUIMICA",
  "AUXILIAR TECNICO EN ENFERMERIA",
  "LIC. EN ING. MEC. AUTOMOT. Y MAQ. AGROIN",
  "PRG. COMP. LIC. ING. MEC. AUT. Y MAQ. AG",
  "PRG. COMP. LIC. ING. MEC. AUT. Y MAQ. AG",
  "PRG. TEC. MED. EN GEST MUN Y DES END SOS",
  "TEC. SUPERIOR EN INDUSTRIA DE ALIMENTOS",
  "TEC. UNIV. MEDIO EN ENFERMERIA (NUEVO)",
  "TEC. UNIVERSITARIO MEDIO EN ENFERMERIA",
  "TECNICO SUPERIOR EN MECANICA AUTOMOTRIZ",
  "TECNICO SUPERIOR EN CONSTRUCCION CIVIL",
  "TECNICO SUPERIOR EN MECANICA INDUSTRIAL",
  "TECNICO SUPERIOR EN QUIMICA INDUSTRIAL",
  "LICENCIATURA EN SOCIOLOGIA",
  "PROGRAMA DE LICENCIATURA EN ANTROPOLOGIA",
  "AREA ECONOMICA - CICLO BASICO COMUN",
  "AREA TECNOLOGICA - CICLO BASICO COMUN",
  "LIC. EN ADMINISTRACION DE EMPRESAS",
  "LICENCIATURA EN ENFERMERIA",
  "LICENCIATURA EN INGENIERIA AMBIENTAL",
  "LICENCIATURA EN INGENIERIA PETROQUIMICA",
  "LICENCIATURA EN PEDAGOGIA SOCIAL",
  "PROG. DESCONCEN. DE LIC. EN COMUNICACION",
  "PROGRAMA DE LIC. EN ENFERMERIA OBSTETRIZ",
  "PROGRAMA DE LIC. EN INGENIERIA AMBIENTAL",
  "AREA ECONOMICA-CICLO BASICO COMUN",
  "PROGRAMA DE LIC. EN ENFERMERIA OBSTETRIZ",
  "PROG. LIC. EN GEST. DES. ENDOG Y AGROEC",
  "LIC. EN MEDICINA VETERINARIA Y ZOOTECNIA",
  "LIC. EN ING. RECURSOS HIDRICOS AGROPEC.",
  "LICENCIATURA EN CONSTRUCCIONES",
  "LICENCIATURA EN INGENIERIA AGROFORESTAL",
  "LICENCIATURA EN ENFERMERIA(NUE)",
  ]
  var mes= [
  "enero",
  "febrero",
  "marzo",
  "abril",
  "mayo",
  "junio",
  "julio",
  "agosto",
  "septiembre",
  "octubre",
  "noviembre",
  "diciembre",
  ]
  var facultad= [
  "FAC. CIENCIAS AGRICOLAS Y PECUARIAS",
  "FAC. CS.FARMACEUTICAS Y BIOQUIMICAS",
  "FAC. CIENCIAS ECONOMICAS",
  "FAC. DESARROLLO RURAL Y TERRITORIAL",
  "FAC. ODONTOLOGIA",
  "FAC. MEDICINA",
  "FAC. ARQUITECTURA Y CIENCIAS DEL HA",
  "FAC. HUMANIDADES Y CS. DE EDUCACION",
  "FAC. CIENCIAS JURIDICAS Y POLITICAS",
  "FAC. CIENCIAS Y TECNOLOGIA",
  "FAC. POLITECNICA DEL VALLE ALTO",
  "FAC. CIENCIAS SOCIALES",
  "FAC. UNID. ACAD.DESC.SAN SIMON TROP",
  "FAC. UNID. ACAD.DESC.SAN SIMON VALL",
  "FAC. UNID. ACAD.DESC.SAN SIMON ANDI",
  "FAC. CIENCIAS VETERINARIAS",
  "FAC. UNID.ACAD.DESC.SAN SIMON CONOS",
  "FAC. ENFERMERIA",
  ]
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/js/qrcode.min.js")
    script(src='/js/jquery.min.js')
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Universidad Mayor de San Simon
        div.collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
          ul.nav.navbar-nav.navbar-right
            if (!user)
              li
                a(href='/login') Ingresa
            //
              li
                a(href='/register') Registrate
            if (user)
              li
                a Bienvenido #{user.name}
              li
                a(href='/') Inicio
              li
                a(href='/logout') Salir

    div.container
      div.content
        block content

    script(src='/js/bootstrap.min.js')
