extends layout

block content
  .container
    form.form-signin(role='form', action="/register",method="post", style='max-width: 300px;')
      h2.form-signin-heading Registrate Aqui
      input.form-control(type='text', name="name", placeholder='nombre')
      input.form-control(type='text', name="username", placeholder='usuario')
      input.form-control(type='password', name="password", placeholder='contraseña')
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Registrate
