
extends layout

block content
  h1 Sistema de gesti&oacute;n de tr&aacute;mites en registros e inscripciones
  br
  p
    ol
      li
        a(href='certificado_de_estudios') certificado de estudios
      li
        a(href='formulario_de_admision_especial') formulario de admision especial
      li
        a(href='formulario_de_reincorporacion') formulario de reincorporacion
      //
        li
          a(href='suspencion_temporal') formulario de suspencion temporal
      li
        a(href='estudio_simultaneo') formulario de estudio simultaneo
      //
        li
          a(href='cambio_de_carrera') formulario de cambio de carrera
      li
        a(href='traspaso_a_otra_universidad_del_pais') formulario de traspaso a otra universidad del pais
      //
        li
          a(href='traspaso_de_otra_universidad_del_pais') formulario de traspaso de otra universidad del pais
        li
          a(href='traspaso_del_exterior') formulario de traspaso del exterior
      li
        a(href='formulario_para_examen_de_gracia') formulario para examen de gracia
      li
        a(href='solicitud_de_convalidacion_de_materias_internas') formulario de solicitud de convalidacion de materias internas
      //este esta terminado pero debido a una nueva politica de la umss este es inhabilitado
        li
          a(href='solicitud_de_convalidacion_de_materias_externas') formulario de solicitud de convalidacion de materias externas