body {
  background-color: #fff;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.clear{
  margin: 0;
  padding: 0;
}

/*
  for main menu
*/
.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}
.dropdown{
  padding-top: .5em;
}
.jumbotron {
    background-color: red;
    /*background-color: #f4511e; /* Orange */
    color: #ffffff;
    margin-bottom: 0;
}
.carousel{
  padding-top: 50px;
}
#acerca{
  padding-top: 50px
}
#portafolio{
  padding-top: 50px
}
#servicios{
  padding-top: 50px
}
#constactanos{
  padding-top: 50px
}

/*nav bar&*/
.prod .navbar{
    margin-bottom: 0;
    
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.prod .navbar li a, .prod .navbar .navbar-brand {
    color: #fff !important;
}

.prod .navbar-nav li a:hover, .prod .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.prod .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
/*end of navbar*/
.logo-small{
    color: blue;
    font-size: 50px;
}
.logo {
    color: blue;
    font-size: 200px;
}
.leaflet-control-attribution{
visibility: hidden !important;
}
@media print{
  #sizera{
    display: none
  }
  #{
    display: none
  }
}